{% extends 'list.html' %}
{% load static %}
{% block head_list %}
<script src="{% static 'actareun/js/list.js' %}"></script>
{% endblock %}

{% block columns %}
<tr>
    <th scope="col" style="width: 5%;">No</th>
    <th scope="col" style="width: 10%;">Grupo</th>
    <th scope="col" style="width: 10%;">Fecha</th>
    <th scope="col" style="width: 10%;">Asistencia</th>
    <th scope="col" style="width: 50%;">Resumen</th>
    <th scope="col" style="width: 50%;">Opciones</th>
</tr>
{% endblock %}

{% block rows %}

{% endblock %}

{% block javascript %}

{% endblock %}