{% extends 'list.html' %}
{% load static %}
{% block head_list %}
<script src="{% static 'evaluaciones/js/list.js' %}"></script>
{% endblock %}

{% block columns %}
<tr>
    
    <th scope="col" style="width: 10%;">Nombres</th>
    <th scope="col" style="width: 30%;">Apellidos</th>
    <th scope="col" style="width: 5%;">Edad</th>
    <th scope="col" style="width: 10%;">Grupo</th>
    <th scope="col" style="width: 5%;">Año Academico</th>
    <th scope="col" style="width:5%;">Militancia</th>
    <th scope="col" style="width: 10%;">Autoevaluación</th>
    <th scope="col" style="width: 5%;">Evaluación</th>
    <th scope="col" style="width: 5%;">Opciones</th>


</tr>
{% endblock %}

{% block rows %}

{% endblock %}

{% block javascript %}

{% endblock %}