asgiref==3.4.1
astroid==2.6.6
autopep8==1.5.7
backports.entry-points-selectable==1.1.0
colorama==0.4.4
distlib==0.3.2
Django==3.2.6
django-widget-tweaks==1.4.8
filelock==3.0.12
freeze==0.0.1
isort==5.9.3
lazy-object-proxy==1.6.0
mccabe==0.6.1
Pillow==8.3.1
platformdirs==2.2.0
pycodestyle==2.7.0
pyline==0.3.20
pylint==2.9.6
pylint-django==2.4.4
pylint-plugin-utils==0.6
pytz==2021.1
six==1.16.0
sqlparse==0.4.1
toml==0.10.2
virtualenv==20.7.2
wrapt==1.12.1