<footer class="main-footer bg-dark">
  <div class="row">
    <section class="text-jistific col-sm-12 ">
      <div class="row">
        <div class=" col-md-4">
          <h2>Sitios de interés</h2>
          <ul class=" list-unstyled">
            <li>
              <span class="fas fa-external-link-alt"></span>
              <a href="https://facultad2.uci.cu/" class=" linkfooter"> Escorpiones</a>
            </li>
            <li>
              <span class="fas fa-external-link-alt"></span>
              <a href="http://mella.uci.cu/" class=" linkfooter"> Periódico Mella</a>
            </li>
            <li>
              <span class="fas fa-external-link-alt"></span>
              <a href="https://intranet.uci.cu/" class="linkfooter"> Intranet</a>
            </li>
            <li>
              <span class="fas fa-external-link-alt"></span>
              <a href="https://eva.uci.cu/" class="linkfooter"> Eva</a>
            </li>
          </ul>
        </div>
        <div class="col-md-4">
          <h2>Otros sitios</h2>
          <ul class="list-unstyled">
            <li>
              <span class="fas fa-external-link-alt"></span>
              <a href="http://www.uci.cu/" class="linkfooter"> Portal UCI</a>
            </li>
            <li>
              <span class="fa fa-external-link-alt"></span>
              <a href="https://internos.uci.cu/" class="linkfooter"> Internos</a>
            </li>
            <li>
              <span class="fa fa-external-link-alt"></span>
              <a href="http://correo.estudiantes.uci.cu/" class="linkfooter"> Correo Estudiantes</a>
            </li>
            <li>
              <span class="fa fa-external-link-alt"></span>
              <a href="http://correo.estudiantes.uci.cu/" class="linkfooter"> Correo</a>
            </li>
          </ul>
        </div>
        <div class="col-md-4">
          <h2> Comunidades UCI </h2>
          <ul class="list-unstyled">
            <li>
              <span class="fa fa-external-link-alt"></span>
              <a href="http://humanos.uci.cu/" class="linkfooter"> HumanOS</a>
            </li>
            <li>
              <span class="fa fa-external-link-alt"></span>
              <a href="https://firefoxmania.uci.cu/" class="linkfooter"> FirefoxManía</a>
            </li>
            <li>
              <span class="fa fa-external-link-alt"></span>
              <a href="https://iblog.uci.cu/" class="linkfooter"> iBlog</a>
            </li>
          </ul>
        </div>
      </div>
    </section>
  </div>
    <div class="dropdown-divider"></div>
    <br>
    <div class="text-center ">
      <section class="text-jistific col-sm-12 ">
        <strong>Copyright © 2020-2021. Sistema de Gestión FEU Facultad 2. <a href="#">SGFEUFac 2</a>.</strong>
        <div><br> <img src="/static/img/logov.png" alt=" Universidad de las Ciencias Informáticas " /></div>
      </section>
    </div>
</footer>
