{% load static %}
 <!-- Sidebar-->
<aside class="main-sidebar sidebar-dark-primary elevation-5">
  <a href="#" class="brand-link">
    <span class="brand-text font-weight-light">SGFEUFac 2</span>
  </a>
  <!-- Sidebar -->
  <div class="sidebar">
    <!-- Sidebar user (optional) -->
    <div class="pb-3 mt-3 mb-3 user-panel d-flex">
      <div class="image">
        <img src="/static/img/user.jpg" class="img-circle elevation-2" alt="User Image" />
      </div>
      <div class="info">
        <a href="" class="d-block">joanjir</a>
      </div>
    </div>
    <!-- Sidebar Menu -->
    <nav class="mt-2">
  <ul
    class="nav nav-pills nav-sidebar flex-column"
    data-widget="treeview"
    role="menu"
    data-accordion="false"
  >
  <li class="nav-item has-treeview">
    <a href="#" class="nav-link">
      <i class="nav-icon fas fa-home"></i>
      <p>Página Principal</p>
    </a>
  </li>
  <li class="nav-item has-treeview">
    <a href="#" class="nav-link">
      <i class="nav-icon fas fa-tachometer-alt"></i>
      <p>Área Personal</p>
    </a>
  </li>
        <li class="nav-item has-treeview">
      <a href="#"class="nav-link">
        <i class="nav-icon far fa-calendar-alt"></i>
        <p>Eventos Estudiantiles</p>
      </a>
    </li>
    <li class="nav-item has-treeview">
      <a href="{% url 'misitio:actareu_listar' %}" class="nav-link">
        <i class="nav-icon far fa-file"></i>
        <p>Actas de Reuniones</p>
      </a>
    </li>
    <li class="nav-item has-treeview">
      <a href="{% url 'misitio:evaluaciones_listar' %}" class="nav-link">
        <i class="nav-icon fas fa-table"></i>
        <p>Evaluación Integral</p>
      </a>
    </li>
  </ul>
  <!-- /.sidebar -->
</aside>
        <!-- Content -->

  <!-- /.sidebar -->
